---
import Base from '../layouts/Base.astro';
import SiteHeader from '../components/SiteHeader.astro';
import Hero from '../components/Hero.astro';
import Work from '../components/Work.astro';
import Approach from '../components/Approach.astro';
import About from '../components/About.astro';
import Contact from '../components/Contact.astro';
import SiteFooter from '../components/SiteFooter.astro';
---

<Base>
  <SiteHeader />
  <main id="main">
    <Hero />
    <Work />
    <Approach />
    <About />
    <Contact />
  </main>
  <SiteFooter />
</Base>
